
.all_card {
  display: flex;
  flex-shrink: 0;
  flex-wrap: wrap;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  justify-content: space-around;
  max-width: 1450px;
  margin: 65px auto 0;

  /* 
    display: flex;
    flex-shrink: 0;
    flex-wrap: wrap;
    margin-top: -290px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    justify-content: space-around;
    max-width: 1450px;
    max-width: 90%;
    margin: 0 auto; 
  */
}

.card img {
  object-fit: contain;
  width: 100%;
  height: 200px;
}

.card {
  width: 250px;
  box-shadow: 0 0 10px #0003;
  padding: 10px;
  position: relative;
  margin: 5px 0;
}
.rating {
  display: flex;
  padding: 10px 0px;
}
.rating p {
  padding: 5px 0 0 5px;
}

.product_content {
  margin-left: 15px;
}

/* button */
.card button {
  display: none;
  padding: 5px 10px;
  width: 100%;
  margin: 10px 0;
  padding: 5px 10px;
  border-radius: 30px;
  cursor: pointer;
  border: none;
  position: absolute;
  bottom: 0;
  left: 0;
  font-weight: 700;
  background-color: var(--primery-color);
  font-family: sans-serif;
}
.card:hover button {
  display: block;
}
.card button:hover {
  background-color: var(--primery-shade);
}
/* miin width 970px */
@media (min-width: 970px) {
  .all_card {
    max-width: 90%;
    margin: 65 auto;
  }
}



/* for product detail */
.detail img {
  object-fit: contain;
  width: 100%;
  /* height: 350px; */
  /* height: 100%; */

 display: block;
 margin: 0 auto;
}
.detail {
  box-shadow: 0 0 10px #0003;
  padding:15px  20px;
  position: relative;
  /* margin: 15px 0; */
}
.detail h3{
 font-size: 25px;
 margin-bottom: 10px;
}
.rating {
  display: flex;
  padding: 10px 0px;
}
.rating p {
  padding: 5px 0 0 5px;
  
}

.product_content {
  margin-left: 15px;
  margin-top: 10px;
}
.detail button {
  padding: 15px 10px;
  width: 70%;
  margin: 10px auto;
  padding: 5px 10px;
  border-radius: 30px;
  cursor: pointer;
  border: none;
  font-weight: 700;
  background-color: var(--primery-color);
  font-family: sans-serif;
  display: block;
  font-size: 18px;
}

.detail button:hover {
  background-color: var(--primery-shade);
}
.product_des{
  font-size: 17px;
}
/* miin width 970px */
@media (min-width: 579px) {
  .detail {
    display: flex;
  }
  .detail button {
    /* position: absolute; */
    bottom: 10px;
    right: 10px;
   width: 100%;
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .image_container{
    min-width: 40%;
  }
   .product_content{
    /* max-width: 66%; */
  }
}
@media (min-width: 880px) {
  .product_content{
    /* padding-top: 50px; */
  }
  .detail button {
   width: 515px;
    margin-top: 0px;
  }
}
